@charset "UTF-8";
/*-----------------------------
1. TIPOGRAFIA
-------------------------------*/
html {
  font-size: 62.5%;
  /* Normalizar para REMS */
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  color: #000000;
}

/* Principales */
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

.boton {
  font-size: 1.8rem;
  color: #f6f6f8;
  background-color: #f79627;
  padding: 1rem 3rem;
  margin-top: 1.5rem;
  border: black;
  border-style: dotted;
  border-radius: 3rem;
}

.bg-primary {
  background-color: #f79627 !important;
}

.text-primary {
  color: #f79627 !important;
}

.bg-secondary {
  background-color: #7f24f7 !important;
}

.text-secondary {
  color: #7f24f7 !important;
}

.bg-success {
  background-color: #f6f6f8 !important;
}

.text-success {
  color: #f6f6f8 !important;
}

.redes-sociales li a i {
  color: #f6f6f8;
  font-size: 2rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  opacity: .5;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.redes-sociales li a i:hover {
  opacity: 1;
  -webkit-transform: scale(1.5) rotate(360deg);
          transform: scale(1.5) rotate(360deg);
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* .myswiper-container {
    width: 100%;
    height: 42rem;
    padding: 1rem;
  }

  .swiper-slide {
  background-color: yellow;
    background-position: center center;
    background-size: cover;
  }
  .swiper-button-next{
  color: blue     
  }
  .swiper-button-prev{
  color: blue     
  }
  .swiper-pagination-bullet-active{
      background-color: blue;
  }

  .swiper-button-next:after{
      content: "\f138";
      font-weight: 900;
      font-family: "font awesome 5 free";       
  }
  .swiper-button-prev:after{
      content: "\f137";
      font-weight: 900;
      font-family: "font awesome 5 free";       
  }

    .swiper-slide {
        height: 90rem;
        color: white;
        background-size: cover;
        background-position: center center;
    }

 */
.navbar-nav li a {
  font-size: 1.8rem;
  color: #f6f6f8 !important;
  padding-right: 3rem !important;
  opacity: 1;
}

.navbar-nav li a:hover {
  opacity: 0.5;
}

#datos-generales span {
  font-size: 1.8rem;
}

/*-----------------------------
6. Estilos animación
-------------------------------*/
.text-1 {
  font-size: 5rem;
  color: #7f24f7 !important;
}

.card-body i {
  text-shadow: -.2rem -.4rem .1rem black;
}

.razones {
  border: none;
}

/* .tradicon{
    border: none;
    width: 500px;
    height:500px;
    object-fit: cover;

}
 */
#pie a {
  color: #f6f6f8;
  font-size: 1.6rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  text-decoration: none;
}

#mapid {
  width: 100%;
  height: 42rem;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=estilos.css.map */